.ourproductspg-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.ourproductspg-ourproductspg {
  width: 100%;
  height: 1697px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(245, 219, 252, 1);
}
.ourproductspg-header {
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 100px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.ourproductspg-group1 {
  top: 0px;
  left: 0px;
  width: 319px;
  height: 93px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.ourproductspg-text {
  color: rgba(51, 17, 119, 1);
  height: auto;
  position: absolute;
  font-size: 64px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.ourproductspg-text01 {
  color: rgba(51, 17, 119, 1);
}
.ourproductspg-text03 {
  top: 69px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.ourproductspg-frame5 {
  top: 100px;
  left: 0px;
  width: 1920px;
  height: 60px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(51, 17, 119, 1);
}
.ourproductspg-home {
  top: 8px;
  left: 217px;
  width: 115px;
  height: 43px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(51, 17, 119, 1);
}
.ourproductspg-text05 {
  top: 7px;
  left: 28px;
  color: rgba(255, 158, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.ourproductspg-discover {
  top: 8px;
  left: 332px;
  width: 156px;
  height: 42px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(51, 17, 119, 1);
}
.ourproductspg-text07 {
  top: 6px;
  left: 29px;
  color: rgba(245, 245, 245, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.ourproductspg-ourproducts {
  top: 5px;
  left: 488px;
  width: 245px;
  height: 50px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(51, 17, 119, 1);
}
.ourproductspg-mainmenu {
  gap: 50px;
  top: 10px;
  left: 46px;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
}
.ourproductspg-text09 {
  top: 10px;
  left: 46px;
  color: rgba(255, 168, 18, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.ourproductspg-about {
  top: 8px;
  left: 720px;
  width: 149px;
  height: 44px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(51, 17, 119, 1);
}
.ourproductspg-text11 {
  top: 7px;
  left: 41px;
  color: rgba(242, 242, 242, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.ourproductspg-contact {
  top: 8px;
  left: 869px;
  width: 167px;
  height: 44px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(51, 17, 119, 1);
}
.ourproductspg-text13 {
  top: 7px;
  left: 35px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.ourproductspg-finalcardsekfrhfrfehf {
  top: 250px;
  left: 391px;
  width: 1209px;
  height: 471.321044921875px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.ourproductspg-group3 {
  top: 0px;
  left: 0px;
  width: 1209px;
  height: 471.321044921875px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.ourproductspg-framesforproductsup {
  top: 0px;
  left: 0px;
  width: 1209px;
  height: 471.321044921875px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.ourproductspg-frame51 {
  top: 0px;
  left: 0px;
  width: 386.71002197265625px;
  height: 471.321044921875px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(51, 17, 119, 1);
}
.ourproductspg-chattingwithchatbot {
  top: 0px;
  left: 73px;
  width: 240px;
  height: 301px;
  position: absolute;
}
.ourproductspg-frame6 {
  top: 0px;
  left: 411.1449890136719px;
  width: 386.71002197265625px;
  height: 471.321044921875px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(51, 17, 119, 1);
}
.ourproductspg-text15 {
  top: 358px;
  left: 59.85498046875px;
  color: rgba(255, 255, 255, 1);
  width: 269px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.ourproductspg-youngwomangraduatedfromonlineeducation {
  top: -19px;
  left: 0px;
  width: 364px;
  height: 360px;
  position: absolute;
}
.ourproductspg-frame8 {
  top: 0px;
  left: 822.2899780273438px;
  width: 386.71002197265625px;
  height: 471.321044921875px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(51, 17, 119, 1);
}
.ourproductspg-text17 {
  top: 357px;
  left: 51.7099609375px;
  color: rgba(255, 255, 255, 1);
  width: 284px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.ourproductspg-group4 {
  top: 22.38774871826172px;
  left: 60.55624008178711px;
  width: 1131.445556640625px;
  height: 427.7238464355469px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.ourproductspg-text19 {
  top: 328.7464904785156px;
  left: 0.00008667206566315144px;
  color: rgba(245, 245, 245, 1);
  width: 260px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.ourproductspg-recruiterlooksthroughamagnifyingglassattheresumeof {
  top: 0.0001147460934589617px;
  left: 744.735595703125px;
  width: 387px;
  height: 329px;
  position: absolute;
}
.ourproductspg-frame10 {
  gap: 30px;
  top: 186px;
  left: 629.5px;
  width: 662px;
  display: flex;
  padding: 10px;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  align-items: center;
  justify-content: center;
  background-color: rgba(242, 242, 242, 1);
}
.ourproductspg-text21 {
  color: rgba(51, 17, 119, 1);
  height: auto;
  font-size: 14px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  font-style: SemiBold;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.ourproductspg-text23 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.ourproductspg-text25 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.ourproductspg-text27 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.ourproductspg-text29 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.ourproductspg-rectangle1 {
  top: 1321px;
  left: 0px;
  width: 1920px;
  height: 376px;
  position: absolute;
  box-sizing: content-box;
  border-color: rgba(255, 168, 18, 1);
  border-style: solid;
  border-width: 4px;
}
.ourproductspg-text31 {
  top: 1509px;
  left: 388px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.ourproductspg-text35 {
  top: 1397px;
  left: 1006px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: underline;
}
.ourproductspg-frame16 {
  gap: 10px;
  top: 1291px;
  left: 866px;
  width: 188px;
  height: 60px;
  display: flex;
  padding: 10px 20px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 10px;
  justify-content: center;
  background-color: rgba(255, 168, 18, 1);
}
.ourproductspg-text37 {
  color: rgba(47, 4, 89, 1);
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.ourproductspg-group5 {
  top: 744px;
  left: 391px;
  width: 1241px;
  height: 516px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.ourproductspg-finalcardskdelfhiugfrhf {
  top: 0px;
  left: 0px;
  width: 797.9375px;
  height: 516px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.ourproductspg-framesforproductsdown {
  top: 0px;
  left: 0px;
  width: 797.9375px;
  height: 516px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.ourproductspg-frame52 {
  top: 8px;
  left: 0px;
  width: 386.75px;
  height: 508px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(51, 17, 119, 1);
}
.ourproductspg-text39 {
  top: 391px;
  left: 53px;
  color: rgba(255, 255, 255, 1);
  width: 280px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.ourproductspg-frame61 {
  top: 8px;
  left: 411.1875px;
  width: 386.75px;
  height: 508px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(51, 17, 119, 1);
}
.ourproductspg-text41 {
  top: 386px;
  left: 45.8125px;
  color: rgba(255, 255, 255, 1);
  width: 296px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.ourproductspg-youngwomantakingselfiesforsocialmedia {
  top: -28px;
  left: 430px;
  width: 456px;
  height: 456px;
  position: absolute;
}
.ourproductspg-womanmultitaskingworkwithcorrespondence {
  top: 0px;
  left: 0px;
  width: 387px;
  height: 371px;
  position: absolute;
}
.ourproductspg-frame7 {
  top: 8px;
  left: 822px;
  width: 387px;
  height: 508px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(51, 17, 119, 1);
}
.ourproductspg-text43 {
  top: 386px;
  left: 62px;
  color: rgba(255, 255, 255, 1);
  width: 296px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.ourproductspg-youngwomantakingselfiesforsocialmedia1 {
  top: -28px;
  left: 430px;
  width: 456px;
  height: 456px;
  position: absolute;
}
.ourproductspg-people {
  top: 4px;
  left: 411px;
  width: 385px;
  height: 361px;
  position: absolute;
}
.ourproductspg-youngwomansittingonfloorinheadphones {
  top: 8px;
  left: 822px;
  width: 419px;
  height: 354px;
  position: absolute;
}
.ourproductspg-text45 {
  top: 1442px;
  left: 391px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.ourproductspg-text49 {
  top: 1472px;
  left: 996px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.ourproductspg-text59 {
  top: 1397px;
  left: 391px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: underline;
}
